@import "../../css/variables.scss";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 70px 20px;
  li {
    p {
      text-align: center;
    }
    div {
      display: grid;
      grid-template-columns: 40px max-content;
      justify-items: center;
      grid-gap: 20px;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}

.book {
  text-align: center;
  padding: 30px 20px;
  background-color: $secondary-color;
}
