@import "../../css/variables.scss";

.bg {
  background: url("../../images/home_banner.jpg");
  min-height: 600px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 60px;
  h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    max-width: 800px;
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
    color: white;
    text-align: right;
    max-width: 800px;
  }
}
.service {
  background-color: $main-color;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 30px 20px;
}
